body {
  background-color: black;
  color: white;
}

#header {
  text-align: center;
}

.form {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 300px;
}

p {
  text-align: center;
}

h4 {
  text-align: center;
}

.video {
  text-align: left;
  margin: 5px;
}

.video-h4 {
  clear: both;
}

.categories-links {
  color: white;
}

.categories-links:hover {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

#video-header {
  margin: 20px 0 30px;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#video {
  /* background-color: black;
  color: white; */
  padding: 10px;
  display: flex;
}

.comment {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: black;
}

#upload_to_my_videos {
  margin: 10px 30px;
  padding: 10px;
}

#side_videos {
  overflow: auto;
  height: 690px;
}

.videos {
  display: inline-block;
  width: 400px;
  margin-bottom: 10px;
  vertical-align: top;
}

.pre-video {
  color: #fff;
}

.pre-video:hover {
  color: white;
  text-decoration: none;
  size: 2rem;
}

.jumbotron {
  background-color: #202020;
  height: 55px;
  padding: 10px;
  display: inline-flex;
  width: 100%;
}

.jumbotron div input {
  background-color: black;
  color: white;
  border: #202020;
}

.jumbotron div input:focus {
  background-color: black;
  color: white;
  border: #202020;
}

.row {
  margin: 0;
}

.active {
  text-decoration: underline;
}
